{{#> base subject="Reset Your Password"}}
  <h1>Reset Your Password</h1>
  <p>Hello {{firstName}},</p>
  <p>We received a request to reset your password. Click the button below to create a new password:</p>
  
  <a href="{{resetUrl}}" class="button">Reset Password</a>
  
  <div class="card">
    <p>If the button above doesn't work, you can copy and paste the following link into your browser:</p>
    <p class="link">{{resetUrl}}</p>
  </div>
  
  <p>If you didn't request a password reset, you can safely ignore this email.</p>
  <p>This password reset link will expire in 1 hour.</p>
  <p>Best regards,<br>The TradeTrust Team</p>
{{/base}}